.header {
  overflow: hidden;
  background-color: #4BB1DF;
  padding: 20px 10px;
  position: fixed;
  	height: 70px;
  	background: #4BB1DF;
  	left: 0;
  	top: 0;
    width: 100%;



}
 .avatar-logo {
  vertical-align: middle;
  width: 65px;
  height: 50px;
  border-radius: 50%;
  margin-left: 3%;
}

/* The navigation menu links */
.sidenav a {
  margin-top: 10px;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: Montserrat Regular;
  color: #001428;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media  (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
 